In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('./data/train_kaggle.csv')
df.head()

/tmp/ipykernel_21349/3676398196.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/train_kaggle.csv')

   Customer_ID outlet_city luxury_sales fresh_sales dry_sales cluster_catgeory
0   10493832.0    Kelaniya       1209.6       756.0    5292.0                4
1   10178643.0    Moratuwa      1590.12     1060.08   6007.12                1
2   10513916.0     Wattala      2288.88     1481.04   9155.52                4
3   10334589.0     Wattala      2274.94     1739.66   9099.76                4
4   10458365.0    Kelaniya      2345.49     2069.55   9243.99                4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774155 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       774153 non-null  float64
 1   outlet_city       774153 non-null  object
 2   luxury_sales      774120 non-null  object
 3   fresh_sales       774114 non-null  object
 4   dry_sales         774125 non-null  object
 5   cluster_catgeory  774154 non-null  object
dtypes: float64(1), object(5)
memory usage: 35.4+ MB

In [4]:
df.shape

(774155, 6)

In [5]:
pattern = r'\d+\.\d+'

def filter_float_strings(dataframe, column, regex):
    filtered_values = dataframe[column].str.contains(regex, na=False)
    filtered_df = dataframe[filtered_values]
    return filtered_df

# Filter out strings containing floating-point numbers
df = filter_float_strings(df, 'luxury_sales', pattern)

print(df.shape)

(746607, 6)

In [6]:
df['luxury_sales'] = df['luxury_sales'].astype(float)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 746607 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       746605 non-null  float64
 1   outlet_city       746605 non-null  object
 2   luxury_sales      746607 non-null  float64
 3   fresh_sales       746576 non-null  object
 4   dry_sales         746581 non-null  object
 5   cluster_catgeory  746606 non-null  object
dtypes: float64(2), object(4)
memory usage: 39.9+ MB

In [8]:
df = filter_float_strings(df, 'fresh_sales', pattern)
df.shape

(485449, 6)

In [9]:
df = filter_float_strings(df, 'dry_sales', pattern)
df.shape

(244650, 6)

In [11]:
df['cluster_catgeory'].value_counts()

cluster_catgeory
2     144455
4      38662
5      37157
1      24348
6         14
3         13
98         1
Name: count, dtype: int64